<?xml version="1.0" ?>

<launch>
    <arg name="model" />
    <param name="use_gui" value="yes" />
    <node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen">
        <param name="camera_info_url" value="file://$(find cuscobot_core)/param/camera.yaml" />
        <param name="video_device" value="/dev/video0" />
        <param name="image_width"  value="640" />
        <param name="image_height" value="480" />
        <param name="framerate" value="30" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="camera_optical_link" />
    </node>
</launch>


