<?xml version="1.0" ?>


<launch>

	<arg name="model" />
	<param name="use_gui" value="yes" />

	<!-- Parsing xacro and setting robot_description parameter -->
	<param name="robot_description" command="xacro $(find cuscobot_core)/urdf/cuscobot.xacro" />

	<!-- Start robot state publisher which will publish tf -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- Starting Odometry and TF publisher node -->
	<node pkg="cuscobot_core" type="deadReckoning.py" name="odom" output="screen"/>

	<node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
	    <param name="camera_info_url" value="file://$(find cuscobot_core)/param/camera.yaml" />
            <param name="video_device" value="/dev/video0" />
            <param name="image_width"  value="640" />
            <param name="image_height" value="480" />
            <param name="framerate" value="30" />
            <param name="pixel_format" value="mjpeg" />
            <param name="camera_frame_id" value="camera_optical_link" />
        </node>

	<!-- ROS Serial driver -->
	<node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
	<param name="port"              type="string"               value="/dev/ttyACM0"/>
	<param name="baud"              type="int"                  value="57600"/>
	</node>

</launch>
